<nav class="navbar">
  <div class="nav-inner">
    <span class="nav-logo">⚡ CI/CD Demo</span>
    <div class="nav-links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">
        👥 Users
      </a>
      <a routerLink="/posts" routerLinkActive="active" class="nav-link">
        📝 Posts
      </a>
      <a routerLink="/comments" routerLinkActive="active" class="nav-link">
        💬 Comments
      </a>
      <a routerLink="/comments" routerLinkActive="active" class="nav-link">
        🖼️ Albums
      </a>
    </div>
    <span class="nav-badge">Node.js + Angular + AWS</span>
  </div>
</nav>